/* elements principaux de la page */

body
{
    font-family: 'Raleway', sans-serif;
    color: #181818;
}

#bloc_page
{
    width: 1440px;
    margin: auto;
}

h1
{
    color: black;
}

a
{
    text-decoration: none;
    color: black;
}

/* header */

#logo
{
    display: flex;
    float: left;
    margin-left: 60px;
}
header
{
    width: auto;
}


/* navigation */

nav
{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    font-size: 12px;
    
    
    
    
}

ul 
{  
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    
}


nav li 
{
    margin-right: 15px;
   
}
nav a 
{
    font-size: 1.3em;
    color: #0065fc;
    padding-bottom: 3px;
    text-decoration: none;

}

nav a:hover
{
    color: black;
    
}

/*Recherche */

#Recherche 
{
    margin-left: 60px;
}


#Recherche h1
{
    font-size: 18px;
   
}
 
form i
{
    position: absolute;
    top: 137px;
    padding: 1px;
    background-color: #f2f2f2;
    border-radius: 6px 0px 0px 6px;
    border: 1px solid #f2f2f2;
}


#search 
{
    text-align: center;
    padding: 3px;
    border-radius:6px 0px 0px 6px ;
    outline: none;
    border: 1px solid #f2f2f2;
    border-right: none;
}

#bouton
{
    position: absolute;
    top: 135px;
    padding: 3px;
    background-color: #0065fc;
    border: 1px solid #f2f2f2;
    color: #f2f2f2;
    border-radius: 0px 6px 6px 0px;
}

/* Filtre */

#Filtre 
{
    width: 941px;
    height: 120px;
    margin-left: 60px;
}
 #Box_Filtre 
 {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     align-content: flex-end;
     justify-content: space-around;
     align-items: center;
     margin-top: 20px;
 }

 #Box_Filtre a 
 {
     border: 1px solid #f2f2f2;
     text-decoration: none;
     color: black;
     font-weight: bold;
     padding: 1px 20px 1px 0px;
     border-radius: 360px;
 }
 #Box_Filtre a:hover
 {
     color: #0065fc;
 }

 #Box_Filtre i
 {
    margin-right: 20px;
    background-color: #0065fc27;
    border-radius: 360px;
    padding: 10px;
    color: #0065fc;
    
 }
 p i
 {
    margin-right: 10px;
    border: 2px solid #f2f2f2;
    border-radius: 360px;
    color: #0065fc;
    padding: 5px 10px 5px 10px;
    background-color: white;
 }


/* hebergements */ 
#hebermegement
{
    width: auto;
    display: flex;
    justify-content: center;
}

#hebermegement a
{
    width: 285px;
    height: 236px;
}

#logements
{

    display: flex;
    flex-direction: column;
    width: 881px;
    height: 631px;
    background-color: #f2f2f2;
    border-radius: 12px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap
}



.Bloc_image
{
    
    width: 249px;
    height: 200px;
    background-color: white;
    padding: 2px;
    border: 1px solid #f2f2f2;
    border-radius: 12px;
    box-shadow: 2px 2px 2px  #e2e2e2;
    margin: 10px 10px 20px 20px;
}

.Bloc_image p
{
    margin-top: 1px;
    margin-left: 6px;
    margin-bottom: 0px;
}
.Bloc_image h3
{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 6px;
}


.image
{
    width: 230px;
    height: 112px; 
    object-fit: cover;
    padding: 9px;
    border-radius: 20px 20px 0px 0px ;
}


#hebermegement h4
{
    position: absolute;
    height: 20px;
    top: 850px;
    margin-left: 20px;
}

.etoile_hebergement
{
    position: absolute;
    color: #0065fc;
    margin-left:0px ;
    font-size: 12px;
    padding-left: 5px;
    margin-top: 5px;
}
.etoile i
{
    margin-left: 0px;
}

#titre
{
    position: absolute;
    top: 320px;
    margin-left: 40px;
    
}


/* plus populaire */

 aside 
{
    width: 425px;
    height: 622px;
    display: flex;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 12px;
    margin-left: 20px;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.Bloc_populaire
{
    display: flex;
    width: 347px;
    height: 147px;
    border: 1px solid #f2f2f2;
    background-color: white;
    margin-top: 14px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px  #e2e2e2;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
  
    
}

.image_populaire
{
    width: 126px;
    height: 136px;
    object-fit: cover;
    padding: 7px ;
    border-radius: 20px 0px 0px 20px;
}

#Prix_populaire
{
   
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 0px;
}

aside h3
{
    margin-left: 4px;
    margin-bottom: 0px;
}

aside h1
{
    margin-right:20px;
}

aside i
{
    margin-left: 80px;

}

.etoile
{
    position: flex;
    color: #0065fc;
    font-size: 12px;
}
.etoile i
{
    margin-left: 0px;
}

#etoile_gris
{
    color: #7070709d;
}

/* Activité */

#activités
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    
}

#bloc_activite
{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 2px;
    width: 50%;
    justify-content: center;
}


#bloc_activite a 
{
    height: 241px;
}

#Bloc_activite2
{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-around;
}
#Bloc_activite2 a 
{
    height: 241px;
}


#activités h3
{
    margin-left: 20px;
}

.Titre_activité
{
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: 60px;
}





#Vieux_port
{
    width: 310px;
    height: 451px;
    border: 1px solid #f2f2f2;
    background-color: white;
    border-radius: 12px;
    box-shadow:2px 2px 2px  #e2e2e2 ;
    margin-right: 15px;
    
    
}

.Port
{
    width: 310px;
    height: 390px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px ;
}

#Fort_de_Pomègues
{
    
    width: 311px;
    height: 241px;
    border: 1px solid #f2f2f2;
    background-color: white;
    border-radius: 12px;
    box-shadow:2px 2px 2px  #e2e2e2;
    margin-right: 15px;
    
}
.Fort
{
    width: 311px;
    height: 181px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px ;
}


#ile_du_frioul
{ 
    
    width: 311px;
    height: 164px;
    border: 1px solid #f2f2f2;
    background-color: white;
    border-radius: 12px;
    box-shadow: 2px 2px 2px #e2e2e2;
    margin-top: 49px;
    margin-left: 319px;;
}

.ile
{
    width: 311px;
    height: 115px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px ;
}

#Parc_National
{
    
    width: 310px;
    height: 451px;
    border: 1px solid #f2f2f2;
    background-color: white;
    border-radius: 12px;
    box-shadow:2px 2px 2px  #e2e2e2 ;
    margin-right: 15px;
    
    
}

.Parc
{
    width: 310px;
    height: 390px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px ;
}

#Notre_Dame
{
    
    width: 307px;
    height: 193px;
    border: 1px solid #f2f2f2;
    background-color: white;
    border-radius: 12px;
    box-shadow:2px 2px 2px  #e2e2e2;
    margin-bottom: 0px;
}

.notre
{
    width: 307px;
    height: 142px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px ;
}

#Parc_longchamp
{
    width: 307px;
    height: 218px;
    border: 1px solid #f2f2f2;
    background-color: white;
    border-radius: 12px;
    box-shadow: 2px 2px 2px #e2e2e2;
    margin-top: -6px;
    margin-left: 377px;
    
}

.parc
{
    width: 307px;
    height: 151px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px ;
}


/* Footer */

footer 
{
    display: flex;
    background-color: #f2f2f2;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f2f2f2;
    margin-top: 50px;
    
}
footer ul 
{
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    
}

footer li
{
    padding-top: 10px;
    margin-top: 0px;
} 

footer h4
{
    margin-bottom: 0px;
}

#A_propos
{
    width: 237px;
    height: 139;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

#Nos_hebergemtns
{
    width: 237px;
    height: 139;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    
}

#Assistance
{
    width: 237px;
    height: 139;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-end
}

