/* elements principaux de la page */

body
{
    font-family: 'Raleway', sans-serif;
    color: #181818;
}

#bloc_page
{
    width: 1440px;
    margin: auto;
}

h1
{
    color: black;
}


/* header */

#logo
{
    display: flex;
    float: left;
}


/* navigation */

nav
{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    font-size: 12px;
    
}

ul 
{  
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    
}


nav li 
{
    margin-right: 15px;
   
}
nav a 
{
    font-size: 1.3em;
    color: #0065fc;
    padding-bottom: 3px;
    text-decoration: none;

}

nav a:hover
{
    color: black;
    
}

/*Recherche */

#Recherche h1
{
    font-size: 18px;
   
}
 


#search 
{
    text-align: center;
    padding: 3px;
    border-radius:6px 0px 0px 6px ;
    outline: none;
    border: 1px solid #f2f2f2;
    border-right: none;
}

#bouton
{
    position: absolute;
    top: 148px;
    padding: 3px;
    background-color: #0065fc;
    border: 1px solid #f2f2f2;
    color: #f2f2f2;
    border-radius: 0px 6px 6px 0px;
}
#icone
{
    position: absolute;
    top: 149px;
    padding: 1px;
    background-color: #f2f2f2;
    border-radius: 6px 0px 0px 6px;
    border: 1px solid #f2f2f2;
}

/* Filtre */

#Filtre 
{
    width: 941px;
    height: 120px;
}
 #Box_Filtre 
 {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     align-content: flex-end;
     justify-content: space-between;
     align-items: center;
     margin-top: 20px;
 }

 #Box_Filtre a 
 {
     border: 1px solid #f2f2f2;
     text-decoration: none;
     color: black;
     font-weight: bold;
     padding: 1px 20px 1px 0px;
     border-radius: 360px;
 }
 #Box_Filtre a:hover
 {
     color: #0065fc;
 }

 #Box_Filtre i
 {
    margin-right: 20px;
    background-color: #0065fc27;
    border-radius: 360px;
    padding: 10px;
    color: #0065fc;
    
 }
 p i
 {
    margin-right: 10px;
    border: 2px solid #f2f2f2;
    border-radius: 360px;
    color: #0065fc;
    padding: 5px 10px 5px 10px;
    background-color: white;
 }


/* hebergements */ 
#hebermegement
{
    width: auto;
    display: flex;
}

#logements
{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;

    width: 881px;
    height: 631px;
    background-color: #f2f2f2;
    border-radius: 12px;
}



.Bloc_image
{
    
    width: 249px;
    height: 200px;
    background-color: white;
    padding: 2px;
    border: 1px solid #f2f2f2;
    border-radius: 12px;
    box-shadow: 2px 2px 2px  #e2e2e2;
    margin: 10px 10px 20px 20px;
}

.Bloc_image p
{
    margin-top: 1px;
    margin-left: 6px;
    margin-bottom: 0px;
}
.Bloc_image h3
{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 6px;
}


.image
{
    width: 230px;
    height: 112px; 
    object-fit: cover;
    padding: 9px;
    border-radius: 20px 20px 0px 0px ;
}

#hebermegement h2
{
    

    position: absolute;
    height: 20px;
    margin-left: 20px;
    
}
#hebermegement h4
{
    position: absolute;
    height: 20px;
    top: 850px;
    margin-left: 20px;
}

.etoile_hebergement
{
    position: absolute;
    color: #0065fc;
    margin-left:0px ;
    font-size: 12px;
    padding-left: 5px;
    margin-top: 5px;
}
.etoile i
{
    margin-left: 0px;
}


/* plus populaire */

 aside 
{
    width: 425px;
    height: 622px;
    display: flex;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 12px;
    margin-left: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Bloc_populaire
{
    display: flex;
    width: 347px;
    height: 147px;
    border: 1px solid #f2f2f2;
    background-color: white;
    margin-top: 14px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px  #e2e2e2;
    
  
    
}

.image_populaire
{
    width: 126px;
    height: 136px;
    object-fit: cover;
    padding: 7px ;
    border-radius: 20px 0px 0px 20px;
}

aside p
{
    position: absolute;
    left: 1325px;
    margin-top: 70px;
    
}

aside h3
{
    margin-left: 4px;
}

aside h1
{
    margin-right:20px;
}

aside i
{
    margin-left: 80px;

}

.etoile
{
    position: absolute;
    color: #0065fc;
  margin-left:0px ;
  left: 1325px;;
  margin-top: 110px;
    font-size: 12px;
}
.etoile i
{
    margin-left: 0px;
}

#etoile_gris
{
    color: #7070709d;
}

/* Activité */

#activités
{
    display: flex;
    
}

#bloc_activite2
{
    width: 659px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


#bloc_activite
{
    width: 659px;
    margin-top: 40px;
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#Vieux_port
{
    width: 310px;
    height: 451px;
    border: 1px solid #f2f2f2;
    background-color: white;
    border-radius: 12px;
    box-shadow:2px 2px 2px  #e2e2e2 ;
    margin-right: 15px;
    
    
}

.Port
{
    width: 310px;
    height: 390px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px ;
}

#Fort_de_Pomègues
{
    width: 311px;
    height: 241px;
    border: 1px solid #f2f2f2;
    background-color: white;
    border-radius: 12px;
    box-shadow:2px 2px 2px  #e2e2e2
}
.Fort
{
    width: 311px;
    height: 181px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px ;
}

#ile_du_frioul
{
    position: absolute;
    width: 306px;
    height: 170px;
    border: 1px solid #f2f2f2;
    background-color: white;
    border-radius: 12px;
    box-shadow:2px 2px 2px  #e2e2e2;
    left: 560px;
    margin-top: 280px;
}

.ile
{
    width: 306px;
    height: 115px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px ;
}

#Parc_National
{
    
    width: 310px;
    height: 451px;
    border: 1px solid #f2f2f2;
    background-color: white;
    border-radius: 12px;
    box-shadow:2px 2px 2px  #e2e2e2 ;
    margin-right: 15px;
    
}

.Parc
{
    width: 310px;
    height: 390px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px ;
}

#Notre_Dame
{
    
    width: 307px;
    height: 193px;
    border: 1px solid #f2f2f2;
    background-color: white;
    border-radius: 12px;
    box-shadow:2px 2px 2px  #e2e2e2
}

.notre
{
    width: 307px;
    height: 142px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px ;
}

#Parc_longchamp
{
    position:absolute;
    left: 1220px;
    margin-top: 230px;
    width: 311px;
    height: 218px;
    border: 1px solid #f2f2f2;
    background-color: white;
    border-radius: 12px;
    box-shadow:2px 2px 2px  #e2e2e2
}

.parc
{
    width: 311px;
    height: 151px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px ;
}